{{#each convos as |comment| }}
<div class="card col-12 border border-warning p-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{comment.name}}</h5>
    <p class="card-text">{{comment.body}}</p>
  </div>
</div>
{{/each}}