<div class="card col-12 border border-warning bg-grey-500 p-1" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-secondary bg-grey-500">{{comm.name}}</h5>
    <p class="card-text text-secondary bg-grey-500">{{comm.body}}</p>
  </div>
</div>

