<div class="row col-12 container-fluid display-flex justify-content-center align-center p-2 new-comm">
        <div class="col-3 container-fluid">
        </div>
        <div class="col-11 container-fluid justify-content-center">
            {{#each convos as |conversation|}}
            {{> conversationPart conver2=conversation}}
            {{/each}}
        </div>
    </div>
<script src="./js/comment.js"></script>





