<div class="col-12 d-flex justify-content-center">
    <form class="col-8 border border-warning rounded p-3 new-comm m-1 bg-grey-500 new-comm-id" con-id="{{con.id}}">
        <h4 class="m-1">{{con.body}}</h4>
        {{#each con.comments as |comment|}}
        <div class="col-12 border rounded border-warning p-1 m-1" style="width: 18rem;">
            <div class="bg-grey-500">
                <p>{{comment.body}}</p>
            </div>
        </div>
        {{/each}}
        <div class="card-body input-group m-1">
            <input id='comment-input' class="border border-warning p-1 rounded text-secondary comm-input" rows="3" placeholder='Add a comment' type="text"></input>
            <button class="btn btn-outline-warning rounded new-comm-test" type="submit">Add</button>
        </div>
    </form>
</div>
<script src="../js/commentid.js"></script>

