<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="container-fluid rounded-3 display-flex justify-space-between align-center p-2">
    <h1>
      Forum for Life
    </h1>
</body>