<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{User.username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Start a Conversation:</h3>

    <form class="form new-convo-form">
      <div class="form-group">
        <input class="form-input" type="text" id="convo-body" name="convo-body" />
        <label for="dog-names">Which topic best fits your conversation?:</label>
        <select name="topics" id="topics-list">
           {{#each topicList as |topic|}}
            {{> topicPart topo=topic}}
            {{/each}}
          <option class="dropdown-item" id="newTopic">+ Add a Topic</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Your Conversations and Comments:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        {{! need to display converasations, then below display comments }}
        {{! possibly link to another page where user can view each convo separately? }}
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>