<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{User.username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Start a Conversation:</h3>

    <form class="form new-convo-form">
      <div class="form-group">
        <input class="form-input" type="text" id="convo-body" name="convo-body" />
        <label for="project-funding">Choose a Topic:</label>
        <input class="form-input" type="number" id="convo-topic" name="convo-topic" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  {{#if conv.length}}
  <div class="col-md-6 project-list">
    <h3>Your Conversations and Comments:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>