<div class="col">
  <div class="col-12 m-auto d-flex justify-content-center">
    <h2>Welcome, {{user.username}}!</h2>
  </div>

  <div class="col-10 m-auto d-flex justify-content-center">
    <div class="col d-flex container rounded border border-warning bg-grey-500 p-1 m-1 justify-content-center">
      <h3>Start a Conversation:</h3>

    <form class="form new-convo-form">
      <div class="form-group">
        <textarea class="form-control rounded" type="text" id="convo-body" name="convo-body" rows="3"></textarea>
        <label for="topic">Choose a topic:</label>
        <select name="topics" class="border rounded" id="topics-list">
            <option selected>Select a topic</option>
            {{#each topicList as |topic|}}
            {{> topicPart topo=topic}}
            {{/each}}
          <option class="dropdown-item" id="newTopic">+ Add a Topic</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-warning">Submit</button>
      </div>
    </form>
  </div>
  {{#if user}}
  <div class="col-md-6 project-list container rounded border border-warning m-1">
    <h3>Your Conversations:</h3>
    {{#each user.conversations as |conversation|}}
    <div class="row mb-2">
      <div class="col-md-8 ">
        <h4><a href=/conversation/{{conversation.id}}>{{conversation.body}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>